@tailwind base;
@tailwind components;
@tailwind utilities;

img {
  user-select: none;         
  pointer-events: none;      
  -webkit-user-drag: none;  
  -webkit-user-select: none; 
  -moz-user-select: none;   
  -ms-user-select: none;    
}